<!DOCTYPE HTML>

<html>
	<head>
		<title>Indulgence Therapeutic Massage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> -->
		<!-- <script type ="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
		<script type="text/javascript">
			(function(){
				emailjs.init('ijUkrg2QAYMMnhvcM')
			})()
		</script> -->
		<!-- <script type="text/javascript" src="./assets/js/main.js"></script> -->

	</head>
	<body class="contact is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<div id="logo">
								<div>
									<h1><a href="#">Indulgence Therapeutic Massage</a></h1>
								
								</div>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="../index.html">Welcome</a></li>
									<li>
										<a href="#">Services</a>
										<ul>
											<li><a href="./massage.html">Massage</a></li>
											<li><a href="./cupping.html">Cupping</a></li>
											
									
										</ul>
									</li>
									<li><a href="./direct-billing.html">Direct Billing</a></li>
									<li><a href="./policies.html">Policies</a></li>
									<li><a href="./book-appointment.html">Book Appointment</a></li>
									<li><a href="./our-team.html">Our Team</a></li>
									<li><a href="contact.html">Contact</a></li>
                                    <li class="current_page_item"><a href="contact-form.html">Contact Form</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="contact-form-main" class="contact-form-container">

					<!-- <div class="row gtr-200"> -->



                <form id="myForm" action="myForm" method="POST">
                    <input type="hidden" name="consentHeader" value="INDULGENCE THERAPEUTIC MASSAGE CONSENT FORM">
					<h2>INDULGENCE THERAPEUTIC MASSAGE CONSENT FORM</h2>
					<!-- <input type="hidden" name="paragraph1" value="We respect your decision to have massage therapy as part of your health maintenance program and strive to keep you safe and comfortable."> -->
                    <p>We respect your decision to have massage therapy as part of your health maintenance program and strive to keep you safe and comfortable.</p>
					<!-- <input type="hidden" name="paragraph2" value="Each client and therapist is unique. Clients have preferences when it comes to pressure, room temperature and techniques used. Therapists have different approaches to massage therapy and as such, we encourage open communication with regards to the areas of concern from our clients and for each session to be fully explained by our therapists prior to the massage commencing."> -->
					<p>Each client and therapist is unique. Clients have preferences when it comes to pressure, room temperature and 
						techniques used. Therapists have different approaches to massage therapy and as such, we encourage open 
						communication with regards to the areas of concern from our clients and for each session to be fully explained by 
						our therapists prior to the massage commencing.</p>
						<input type="hidden" name="techniquesHeader" value="TECHNIQUES/DRAPING">	
					<h3>TECHNIQUES/DRAPING</h3>
					<input type="hidden" name="techniquesParagraph" value="Please be advised that our therapies sometimes and often include exposure and touching of the following areas:">
					<p>Please be advised that our therapies sometimes and often include exposure and touching of the following areas:</p>
					<ul>
						<input type="hidden" name="listItem1" value="Buttocks">
						<li>Buttocks</li>
						<input type="hidden" name="listItem2" value="Inner Thighs">
						<li>Inner Thighs</li>
						<input type="hidden" name="listItem3" value="Inguinal region (junctional area between the abdomen and the thigh on either side of the pubic bone.)">
						<li>Inguinal region (junctional area between the abdomen and the thigh on either side 
							of the pubic bone)
						</li>
						<input type="hidden" name="listItem4" value="Hips">
						<li>Hips</li>
						<input type="hidden" name="listItem5" value="Chest and region including partial breast tissue">
						<li>Chest and region including partial breast tissue</li>
						<input type="hidden" name="listItem6" value="Abdominal region">
						<li>Abdominal region
						</li>
					</ul>
					<input type="hidden" name="regionsParagraph" value="We NEVER expose or touch the below regions:">
					<h3>We NEVER expose or touch the below regions:</h3>
					<ul>
						<input type="hidden" name="regionsListItem1" value="Genitalia">
						<li>Genitalia</li>
						<input type="hidden" name="regionsListItem2" value="Nipple area">
						<li>Nipple area</li>
					</ul>
					
  					<label for="consentName">I, <input type="text" id="consentName" name="consentName" required>, have read and understand the above information and give my consent to the registered massage therapist of Indulgence Therapeutic Massage to treat me with the understanding that the above regions indicated above may be touched for therapeutic purposes.</label>
					<label for="secondConsentName">I, <input type="text" id="secondConsentName" name="secondConsentName" required>, understand that at any point of the massage session, I can request my therapist to adjust/change the pressure and techniques used.</label>


					<label for="consentSignature">SIGNATURE: <input type="text" id="consentSignature" name="consentSignature" required></label> 
					
					<label for="consentDate">DATE: <input type="date" id="consentDate" name="consentDate" required pattern=[0-9]{4}-[0-9]{2}-[0-9]{2} placeholder="YYYY/MM/DD"></label>
  					
					<!-- Start of Intake Form  -->

					<input type="hidden" name="intakeHeader" value="Indulgence Therapeutic Massage">
					<h2>Indulgence Therapeutic Massage</h2>

					<input type="hidden" name="intakeIndulgenceAddress" value="313 Woodvale Road">
					<span>313 Woodvale Road</span>

					<input type="hidden" name="intakeIndulgencePostal" value="Edmonton, AB T6L 3Z7">
					<span>Edmonton, AB T6L 3Z7</span>

					<!-- Contact Information Left Side -->
					<label for="intakeName">NAME: <input type="text" id="intakeName" name="intakeName" required></label>

					<label for="intakeAddress">ADDRESS: <input type="text" id="intakeAddress" name="intakeAddress" required></label>

					<label for="intakePostal">POSTAL CODE: <input type="text" id="intakePostal" name="intakePostal" required></label>

					<label for="intakeBirthdate">BIRTHDATE: <input type="date" id="intakeBirthdate" name="intakeBirthdate" pattern=[0-9]{4}-[0-9]{2}-[0-9]{2} placeholder="YYYY/MM/DD" required></label>

					<!-- Contact Information Right Side -->
					<label for="intakeCell">(Cell): <input type="number" id="intakeCell" name="intakeCell" required placeholder="000-000-0000"></label>
					<label for="intakeWork">(Work): <input type="number" id="intakeWork" name="intakeWork" placeholder="000-000-0000"></label>
					<label for="intakeHome">(Home): <input type="text" id="intakeHome" name="intakeHome"  placeholder="000-000-0000"></label>
					<label for="intakeReferred">(Home): <input type="text" id="intakeReferred" name="intakeReferred"></label>
					<label for="intakeEmail">Email: <input type="text" id="intakeEmail" name="intakeEmail" required></label>


					<label for="maleGenderCheckbox">Male <input type="checkbox" id="maleGenderCheckbox" name="maleGenderCheckbox" value="true"></label>
					<label for="femaleGenderCheckbox">Female <input type="checkbox" id="femaleGenderCheckbox" name="femaleGenderCheckbox" value="true"></label>


					



                <button type="submit">Send</button>
                </form>

						<!-- Content -->
							<!-- <div class="col-8 col-12-narrower imp-narrower">
								<article id="content">
									<header>
										<h2>Contact</h2>
									</header>
									<form method="post" action="#">
										<div class="row gtr-50 gtr-uniform">
											<div class="col-6 col-12-narrower">
												<input class="text" type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-narrower">
												<input class="text" type="text" name="email" id="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Send Message" class="button" /></li>
												</ul>
											</div>
										</div>
									</form>
								</article>
							</div> -->

						<!-- Sidebar -->
							<div class="col-4 col-12-narrower certificate">
								<div id="sidebar">
									<!-- <ul class="info">
										<li>
											<h3>Address</h3>
											<p>
												
												313 Woodvale Road West NW<br />
												Edmonton, Alberta T6L 3Z7
											</p>
										</li>
										<li>
											<h3>Email</h3>
											<p><a href="#">indulgence.massages@gmail.com</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>(780) 445-9814</p>
										</li>
									</ul> -->
								</div>
								
							</div>
							<!-- <div id="contact-info">
								<h1>Contact</h1>
									<h2>Address</h2>
										<p>313 Woodvale Road West NW</p>
										<p>Edmonton Alberta T6L 3Z7</p>
									<h2>Email</h2>
										<p>indulgence.massages@gmail.com</p>
									<h2>Phone</h2>
										<p>(780) 445-9814</p>
								
							</div> -->

					
					</div>

				</div>

			<!-- Newsletter -->
				<!-- <div id="newsletter" class="container">
					<section>
						<header>
							<h2>Morbi insem uisdui</h2>
							<span class="byline">Vivamus vestibulum nulla nec ante</span>
						</header>
						<form method="post" action="#" id="subscribe">
							<input type="text" class="text" name="search" placeholder="Email address" />
							<a href="#" class="button">Submit</a>
						</form>
					</section>

				</div> -->

			<!-- Footer -->
				<!-- <div id="footer" class="container">

					<div class="row">
						<div class="col-6 col-12-narrower">
							<span class="copyright">&copy; Indulgence Therapeutic Massage. All rights reserved.</span>
						</div>
						<div class="col-6 col-12-narrower">
							
						</div>
					</div>

				</div> -->

		</div>

		
	</body>
</html>